---
layout: base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
<!--
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>
-->
<div id="content" class="mt-1">
  <div class="post-content e-content mx-auto" itemprop="articleBody">


    <div class="row">
<div class="col-md-4 left">

  {% if page.dp %}
  <img src="{{page.dp}}" width="100%" height="auto" style="width:150px;height:150px;" class="rounded-circle mb-3 mx-auto text-center" alt="{{ page.name }} - {{ page.role }}">
  
{% endif %}



  <h1 id="name" class="text-dark lead fw-medium mt-0" style="font-size:25px;">{{ page.name }}</h1>
<p>{{ page.role }}</p>
<h4 class="lead fw-normal text-primary">{{ page.current_title }}</h4> 
<hr class="w-50"/>
<p>
  {{ page.current_desc}}
</p>
<h4 class="lead fw-normal text-primary">{{ page.interest_title }}</h4>
<hr class="w-50"/>
<p>
  {{ page.interest_desc}}
</p>
<h4 class="lead fw-normal text-primary">{{ page.edu_title }}</h4>
<hr class="w-50"/>
<p>
  {{ page.edu_desc}}
</p>
</div>
<div class="col-md-8 right">

<h4 class="mt-0 text-secondary lead fw-normal">Work Experience</h4>
  <hr class="w-25"/>

  {% for ex in page.exp %}

  <h4 class="lead fw-normal text-primary d-inline">{{ ex.t }} </h4> <span>@ {{ ex.c }}</span>
  <p class="d-block mt-2">({{ ex.d }})</p>
    <p class="ps-4 border-start border-4 text-secondary"><i>{{ ex.s }}</i></p>
    <div class="mb-4">{{ ex.b }}</div>

{% endfor %}

<h4 class="mt-0 text-secondary lead fw-normal">Summary</h4>
<hr class="w-25"/>
<p>{{ page.summary }}</p>
<hr class="my-3"/>
<p class="text-end">
  Thanking you,<br/>
  Yours faithfully<br/>
  <span class="mt-4 lead" style="font-family:cursive ! important;color:royalblue ;"><i><em>{{ page.name }}</em></i></span>
</p>

</div>

    </div>

    <!-- {{ content }} -->
    <!-- <object data="{{ site.url }}/{{pdfs.name}}.pdf" width="1000" height="1000" type="application/pdf"></object> -->

  </div>

</div>
  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script>
  $(document).ready(function () {
    $('#download').click(function () {
      // Clone the content
      var printContents = $('#content').clone();
      printContents.find('.left').removeClass('col-md-4').addClass('col-4');
printContents.find('.right').removeClass('col-md-8').addClass('col-8');

      // Create a new window
      var printWindow = window.open('https://cv.wikimint.com', '_blank');
      var name = $("#name").text();
      // Write the cloned content to the new window
      printWindow.document.write('<html><head><title>' + name + ' CV</title><meta name="viewport" content="width=794"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">');
      printWindow.document.write('<style>.post-content{width:930px;max-width:930px;min-width:950px;}</style>'); // Link any necessary styles
      printWindow.document.write('<style>media print { @page { margin: 0;} body { margin: 1.6cm; } }</style>'); // Ensure print styles are applied

      printWindow.document.write('</head><body >');
      printWindow.document.write(printContents.html());
      printWindow.document.write('</body></html>');
      // Close the document
      printWindow.document.close();
      // Wait for the content to be fully loaded, then print
      printWindow.onload = function() {
        printWindow.print();
        printWindow.close();
      };
    });
  });
</script>
